<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Me</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= simple_form_for @portfolio do |f|  %>
        <form name="sentMessage" id="contactForm" novalidate="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.input :title, label: false, placeholder: "Your Name *",  class: 'form-control' %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.input :subtitle, label: false, placeholder: "Your Email *",  class: 'form-control' %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.input :main_image, as: :string, label: false, placeholder: "Your Phone *",  class: 'form-control' %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.input :body, as: :text, label: false, placeholder: "Your Message *",  class: 'form-control' %>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <%= f.submit 'Send Message', class: "btn btn-xl" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% end %>
</section>