<body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">



  <!-- Header -->
  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome</div>
        <div class="intro-heading" id="banner-typed-text" ></div>
        <a href="#about" class="page-scroll btn btn-xl">About Me</a>
      </div>
    </div>
  </header>

  <%= render 'shared/navbar'  %>

  <!-- Portfolio Grid Section -->
  <%= render 'portfolios/index'  %>

  <!-- About Section -->

  <%= render 'about'  %>
  <!-- Team Section -->

  <!-- Services Section -->

  <%= render 'services'  %>

  <!-- Clients Aside -->

  <%= render 'shared/contact' %>

  <%= render 'shared/footer' %>

  <!-- Portfolio Modals -->
  
  <%= render 'portfolios/modal'  %>

  </body>